---
import Cities from '../data/Cities';
import Industries from '../data/Industries';
import MySiteLayout from '../layouts/SiteLayout.astro';
import herobg from "../assets/images/banners/banner1.jpg"
 const { category } = Astro.params;

export function getStaticPaths() {
  return  Industries.map(item=> {
        return {
            params: {
                category: item.cleanUrl
            }
        }
    });
}
---

    <MySiteLayout>
    
        <section class="breadcrumb-section">
            <div class="container">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href={category + "-search.html"}>{category.toString().split("-").map((word) => word[0].toUpperCase() + word.slice(1).toLowerCase())
        .join(' ')}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Search</li>
                </ol>    
            </div>
        </section>

        <section class="hero-section  container position-relative  bg-background opacity-50" style={`background:url(${herobg}) center center`  } >
          <div class="banner-1 cover-image sptb-2" data-bs-image-src="../assets/images/banners/banner1.jpg" style={`background:url(${herobg}) center center`  } data-select2-id="18">
    <div class="header-text1 mb-0" data-select2-id="17">
        <div class="" data-select2-id="16">
            <div class="row" data-select2-id="15">
            <div class="col-xl-11 col-lg-12 col-md-12 d-block mx-auto" data-select2-id="14">
                <div class="text-left text-white font-weight-bold mb-4"><h1 class="h1">
              Find Services in your City</h1>
                </div>
                <div class="text-left text-white">
                <p class="h4 mb-4">
<i class="fa-brands fa-telegram fa-3x"></i>
                </p>
                </div>
            </div>
           
            </div>
        </div>
    </div>
  
</div>
</section>  
        


        <section class="search-section">
            <div class="container">
                <div>
                    <div class="heading">
                        <h3 class="font-w-700">List of Cities</h3>
                    </div>
                    <div class="city-list">
                        <ul>
                        {Cities.map(item=> {
                            return (
                                <li class="list-item"><a class="nav-item" href={`hvac-business/${category}/${item.cleanUrl}/1.html`}>{item.name}</a></li>
                            )
                        })}
                            

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    
    </MySiteLayout>