---
import Industries from '../data/Industries';
// Example: src/pages/index.astro
import MySiteLayout from '../layouts/SiteLayout.astro';
import Categories from '../data/Categories';
import herobg from "../assets/images/banners/banner1.jpg"

---
<MySiteLayout>
        <section class="hero-section  container-fluid position-relative  bg-background opacity-50" style={`background:url(${herobg}) center center`  } >
          <div class="banner-1 cover-image sptb-2" data-bs-image-src="../assets/images/banners/banner1.jpg" style={`background:url(${herobg}) center center`  } data-select2-id="18">
    <div class="header-text1 mb-0" data-select2-id="17">
        <div class="container" data-select2-id="16">
            <div class="row" data-select2-id="15">
                <div class="col-xl-9 col-lg-12 col-md-12 d-block mx-auto" data-select2-id="14">
                    <div class="text-center text-white font-bold"><h1 class="">
Fastest Service Business Directory in the World</h1></div>
<div class="text-center text-white"><h5 class="">
Discover businesses near you with ratings and reviews
</h5></div>
                </div>
            </div>
        </div>
    </div>
  
</div>
</section>
        <section class="slider-section categories-slider">
            <div class="slider-container container p-0">
                <div id="slider-2" class="slider d-none d-lg-block">
                    <div class="slider__slides">
                    {Industries.map((item) => {
                        return (
                        <div class="slider__slide"  >
                           <a href={ item.name.split(" ").join("-").toLowerCase() + '-search'  } class="tag">{item.name}</a>
                        </div>
                        )
                    })}

                    </div>

                    <div class="slider__buttons">
                        <a href="#" class="slider__button--prev">
                          <i class="fa-solid fa-angle-left"></i>
                        </a>
                        <a href="#" class="slider__button--next">
                          <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="select-categories d-lg-none d-flex align-items-center">
                    <button class="select-box d-flex align-items-center justify-content-between" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <span>Select Categories</span>
                        <i class="fa-solid fa-angle-down"></i>
                    </button>
                </div>
            </div>
        </section>

<section class="my-5">
     <div class="container">
       <div class="row">
       <div class="col-xl-6 col-md-6 m-0 p-0"> <div class="card"> <div class="item-card">
        <div class="item-card-desc">
        <a href="#"></a> <div class="item-card-img">
         <img src="../assets/images/products/car/1.jpg" alt="img" class="br-te-7 br-ts-7"> </div>
          <div class="item-card-text">
          
        </div>
            </div>
            </div>
            </div>
            </div>

           <div class="col-xl-6 col-md-6 m-0 p-0 "> 
           <div class="card px-0 mx-0"> 
           
            <div class="item-card">
                    <div class="item-card-desc">
                            <a href="#"></a>
                            <div class="item-card-img">
                            <img src="../assets/images/products/car/1.jpg" alt="img" class="br-te-7 br-ts-7"> 
                            </div>
                            <div class="item-card-text">
                            
                            </div>
                   </div>
            </div>
       </div>
            </div>
       </div>
     </div>
</section>

        <section class="industries-section">
            <div class="container">
                <div class="d-flex align-items-center justify-content-center industries-bar">
                    <div class="heading text-center">
                        <h2 class="font-w-700 h1">Search By Service Category</h2>
                        <p class="h5">Discover businesses near you with ratings and reviews</p>
                    </div>
                    
                </div>
                <div class="slider-section industries-slider d-none d-lg-block">
                    <div class="slider-container container p-0">
                        <div id="slider-4" class="slider">
                            <div class="slider__slides">
                            {Industries.map(item=> {
                                return (
                                <div class="slider__slide">
                                   <a href={ item.name.split(" ").join("-").toLowerCase() + '-search'  } class="industries-box">
                                        <img src={item.image}>
                                        <div class="industries-text text-center">{item.name}</div>
                                    </a>
                                </div>
                                )
                            })}
                                
                            </div>

                            <div class="slider__buttons">
                                <a href="#" class="slider__button--prev">
                                  <i class="fa-solid fa-angle-left"></i>
                                </a>
                                <a href="#" class="slider__button--next">
                                  <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row d-lg-none">
                 {Industries.map(item=> {
                                return (
                            <div class="col-lg-3">
                       <a href={ item.name.split(" ").join("-").toLowerCase() + '-search'  } class="industries-box">
                                        <img src={item.image}>
                                        <div class="industries-text">{item.name}</div>
                 </a>
                    </div>
                               
                                )
                            })}

                </div>

                
            </div>
        </section>


  
     
        <!-- Modal -->
        <div class="modal fade categories-modal" id="exampleModal" tabindex={-1} aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header heading border-0">
                <h3 class="font-w-700">Categories</h3>
                <a href="#" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></a>
              </div>
              <div class="modal-body border-0">
                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        HVAC Contractors
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault01">
                    <label class="form-check-label" for="flexCheckDefault01">
                        Alarm & Security
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault02">
                    <label class="form-check-label" for="flexCheckDefault02">
                        Appliance Repair
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault03">
                    <label class="form-check-label" for="flexCheckDefault03">
                        Carpet Cleaning
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault04">
                    <label class="form-check-label" for="flexCheckDefault04">
                        Chimney Sweep
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault05">
                    <label class="form-check-label" for="flexCheckDefault05">
                        Computer Repair
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault06">
                    <label class="form-check-label" for="flexCheckDefault06">
                        Construction
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault07">
                    <label class="form-check-label" for="flexCheckDefault07">
                        Appliance Repair
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault08">
                    <label class="form-check-label" for="flexCheckDefault08">
                        Carpet Cleaning 
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault09">
                    <label class="form-check-label" for="flexCheckDefault09">
                        Chimney Sweep
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault10">
                    <label class="form-check-label" for="flexCheckDefault10">
                        Appliance Repair
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault11">
                    <label class="form-check-label" for="flexCheckDefault11">
                        Carpet Cleaning
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault12">
                    <label class="form-check-label" for="flexCheckDefault12">
                        Chimney Sweep
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault13">
                    <label class="form-check-label" for="flexCheckDefault13">
                        Appliance Repair
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault14">
                    <label class="form-check-label" for="flexCheckDefault14">
                        Carpet Cleaning
                    </label>
                </div>
                
                <div>
                    
                </div>
              </div>
              <div class="modal-footer border-0">
                <div class="fill-btn w-100 text-center m-0">
                    <a href="#" class="bg-blue white-text w-100" data-bs-dismiss="modal">Apply</a>
                </div>
              </div>
            </div>
          </div>
        </div>

</MySiteLayout>